h1{

 text-align: center;

}


.container{


   width: 310px;
   height: 410px;
   background-color: rgb(37, 33, 33);
   margin: auto;
padding: 10px;
   border-radius: 5%;
   border-radius: 10px;
   border-color: rgb(104, 244, 10);


}

p{

margin-left: 10px;

color: rgb(230, 221, 238);
font-size: 1.5;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.screen{

background-color: rgb(177, 177, 35);
height: 40px;
width: 300px;


}

.button 
{
height: 35px;
width: 48px;
font-size: 1.5rem;
margin: 10px;
color: rgb(54, 19, 207);
background-color: black;
border-radius: 5px;



}
.clear{

background-color: rgb(236, 7, 7);
color: rgb(0, 0, 0);
border-color: rgb(43, 147, 226);


}
.operator{

   background-color: rgb(43, 226, 180);
}
.button:hover{
   border-color: chartreuse;


}